@import './components/reset.css';
@import './components/button.css';
@import './components/plus.css';
body {
    background-color: #f9f9f9;
}

.right {
    float: right;
}

header {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #eee;
    box-shadow: 0 2px 4px #0005;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header+* {
    margin-top: 60px;
}

.list {
    display: grid;
    min-height: calc(100vh - 60px);
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
    padding: 30px;
    gap: 30px;
    place-content: start;
}

.list>.item {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
}

.list>.item>.actions {
    display: none;
    position: absolute;
    top: -5px;
    right: 5px;
}

.list>.item:hover>.actions {
    display: inline-block;
}