.container .about-macro {
    display: inline-block;
    /* background-color: turquoise; */
    text-align: center;
}

.about-macro img {
    /* max-width: 400px; */
    max-width: 350px;
    min-width: 100px;
    align-items: center;
    /* height: 80px; */
}

@media(max-width: 410px) {
    .about-macro img {
        /* max-width: 400px; */
        max-width: 150px;
        /* min-width: 100px; */
        /* align-items: center; */
        /* height: 80px; */
    }
}