.wrapper {
    position: absolute;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    background: linear-gradient(90deg, rgb(2, 0, .6, 1) 0%, rgb(167, 158, 158) 35%, rgb(203, 237, 245) 100%);
    z-index: 4;
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgb(167, 158, 158, 0.8);
}

.box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
    z-index: -4;
}

.box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
    z-index: -4;
}

.box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
    z-index: -4;
}

.box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
    z-index: -4;
}

.box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
    z-index: -4;
}

.box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
    z-index: -4;
}

.box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
    z-index: -4;
}

.box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
    z-index: -4;
}

.box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
    z-index: -4;
}

.box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
    z-index: -5;
}

.box div:nth-child(11) {
    top: 10%;
    left: 95%;
    animation: animate 5s linear infinite;
    z-index: -4;
}

.box div:nth-child(12) {
    top: 17%;
    left: 77%;
    animation: animate 8s linear infinite;
    z-index: -4;
}

.box div:nth-child(13) {
    top: 5%;
    left: 33%;
    animation: animate 17s linear infinite;
    z-index: -4;
}

.box div:nth-child(14) {
    top: 35%;
    left: 88%;
    animation: animate 12s linear infinite;
    z-index: -4;
}

.box div:nth-child(15) {
    top: 10%;
    left: 66%;
    animation: animate 5s linear infinite;
    z-index: -4;
}

.box div:nth-child(16) {
    top: 88%;
    left: 23%;
    animation: animate 5s linear infinite;
    z-index: -4;
}

.box div:nth-child(17) {
    top: 90%;
    left: 44%;
    animation: animate 8s linear infinite;
    z-index: -4;
}

.box div:nth-child(18) {
    top: 70%;
    left: 14%;
    animation: animate 10s linear infinite;
    z-index: -4;
}

.box div:nth-child(19) {
    top: 20%;
    left: 12%;
    animation: animate 10s linear infinite;
    z-index: -4;
}

.box div:nth-child(20) {
    top: 30%;
    left: 5%;
    animation: animate 10s linear infinite;
    z-index: -4;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.4) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}