.calculate {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.calculate .title-bmi {
    font-size: 6.5vmin;
    font-weight: bold;
    font-family: var(--font-family);
    background: -webkit-linear-gradient(45deg, #ff7400, #f4511e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculate .gender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.calculate .gender div {
    height: 32vmin;
    width: 32vmin;
    background: #232323;
    box-shadow: 0 .5vmin 1vmin .6vmin #292929;
    font-size: 20vmin;
    font-weight: bold;
    font-family: var(--font-family);
    text-align: center;
    line-height: 32vmin;
}

.calculate .gender div span {
    background: -webkit-linear-gradient(45deg, #ff7400, #f4511e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculate .gender .male.active span {
    background: -webkit-linear-gradient(45deg, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculate .gender .female.active span {
    background: -webkit-linear-gradient(45deg, #f953c6, #b91d73);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.calculate .height {
    margin-top: 4vmin;
    width: 75%;
    height: 32vmin;
    background: #232323;
    box-shadow: 0 .5vmin 1vmin .6vmin #292929;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 5vmin;
    font-weight: bold;
    font-family: var(--font-family);
    color: #555;
}

.calculate .height .val {
    color: #fff;
    font-size: 5vmin;
    margin: 0;
    margin-top: -2vmin;
}

.calculate .height .val i {
    text-align: center;
    line-height: 6vmin;
    font-size: 5vmin;
    font-weight: bold;
    padding: 3vmin;
}

.calculate .height .val span {
    font-size: 6vmin;
    font-weight: bold;
    font-family: var(--font-family);
}

.calculate .height input {
    -webkit-appearance: none;
    width: 90%;
    height: 3vmin;
    background: #333;
    border-radius: 50vmin;
    overflow: hidden;
}

.calculate .height input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 3vmin;
    width: 3vmin;
    background: linear-gradient(45deg, #ff7400, #f4511e);
    box-shadow: -50vmin 0 0 50vmin #f4511e;
}