footer {
    /* display: inline-block; */
    background-color: #eee;
    bottom: 0px;
}

.date {
    /* display: inline-block; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* background-color: hotpink; */
    /* text-align: center; */
}

.date a {
    text-decoration: none;
    color: gray;
    font-size: 17px;
}


/* .date img {
    display: inline-block;
    background-color: khaki;
} */

.visitors {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: right;
    /* background-color: khaki; */
    color: gray;
    font-size: 17px;
}

@media (max-width: 380px) {
    .date {
        /* display: inline-block; */
        /* margin-top: .5rem;
        margin-bottom: .5rem; */
        /* background-color: hotpink; */
        /* text-align: center; */
    }
    .visitors {
        text-align: center;
    }
    .date a {
        text-align: center;
    }
}