header {
    display: inline-block;
    text-align: center;
    line-height: 60px;
    background-color: #eee;
    box-shadow: 0 2px 4px #0005;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header+* {
    margin-top: 80px;
}