.add-new {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #36f;
    color: #fff;
    border-radius: 50%;
    box-shadow: 0 4px 8px #0008;
    line-height: 54px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 30px;
    right: 30px;
    opacity: 0.7;
    z-index: 1;
}

.add-new:hover {
    opacity: 1;
}