.quiz {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: var(--header-font);
    font-weight: 400;
    color: #555;
    /* text-align: center; */
}

.quiz h1 {
    text-align: center;
    /* font-size: 10vmin; */
}

.quiz h1,
.quiz p,
.start-button {
    text-align: center;
}

.custom-box {
    max-width: 700px;
    background-color: #e2dede;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    animation: fadeInRight 1s ease;
    /* text-align: center; */
}

@keyframes fadeInRight {
    0% {
        transform: translate(40px);
        opacity: 0;
    }
    100% {
        transform: translate(0px);
        opacity: 1;
    }
}

.custom-box::before,
.custom-box::after {
    content: '';
    clear: both;
    display: table;
}

.custom-box.hide {
    display: none;
}

.home-box h3 {
    font-size: 18px;
    color: #555;
    font-weight: 500;
    margin-bottom: 15px;
    line-height: 25px;
}

.home-box p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 22px;
    color: #555;
    font-weight: 400;
}

.home-box p span {
    font-weight: 600;
}

.home-box .btn-quiz {
    margin-top: 20px;
}

.btn-quiz {
    padding: 15px 45px;
    background-color: #eee;
    border-radius: 5px;
    border: none;
    font-family: var(--header-font);
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    opacity: 0.9;
}

.btn-quiz:hover {
    opacity: 1;
}

.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator {
    width: 100%;
    float: left;
}

.quiz-box .question-number {
    font-size: 18px;
    color: #555;
    font-weight: 600;
    border-bottom: 1px solid #afafad;
    padding-bottom: 10px;
    line-height: 25px;
}

.quiz-box .question-text {
    font-size: 22px;
    color: #555;
    font-weight: 600;
    font-weight: 400;
    padding: 20px 0;
    line-height: 28px;
}

.quiz-box .option-container .option {
    background-color: #eee;
    padding: 13px 15px;
    font-size: 16px;
    line-height: 22px;
    color: #555;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: capitalize;
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.quiz-box .option-container .option.correct::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: green;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.quiz-box .option-container .option.wrong::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: red;
    z-index: -1;
    animation: slideInLeft .5s ease forwards
}

.quiz-box .option-container .option.wrong {
    color: #ffffffff;
}

.quiz-box .option-container .option.correct {
    color: #ffffffff;
}

.quiz-box .option-container .option.already-answered {
    pointer-events: none;
}

.quiz-box .btn-quiz {
    margin: 15px 0;
}

.quiz-box .answers-indicator {
    border-top: 1px solid #afafad;
}

.quiz-box .answers-indicator div {
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 15px;
}

.quiz-box .answers-indicator div.correct {
    background-color: green;
    background-image: url(../../img/quiz/correct.png);
    ;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.quiz-box .answers-indicator div.wrong {
    background-color: red;
    background-image: url(../../img/quiz/wrong.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.result-box {
    text-align: center;
}

.result-box.hide {
    display: none;
}

.result-box h1 {
    font-size: 36px;
    line-height: 42px;
    color: #555;
}

.result-box table {
    width: 100%;
    border-collapse: collapse;
    margin: 30px 0;
}

.result-box table td {
    border: 1px solid #afafad;
    padding: 6px 15px;
    font-weight: 500;
    color: #555;
    width: 50%;
    text-align: left;
    font-size: 18px;
}

.result-box .btn-quiz {
    margin-right: 20px;
}

@media(max-width: 700px) {
    .result-box .btn-quiz {
        margin-bottom: 15px;
    }
    body {
        padding: 4px;
    }
}