:root {
    --header-font: 'Montserrat', sans-serif;
    --p-font: 'Nunito Sans', sans-serif;
    --primary-color: #fff;
    --bacground-gray: #eee;
    --main-text-color: #212529;
    --light-text-color: #6c757d;
    --font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    --opaque-white: rgba(255, 255, 255, 0.7);
    --dark-overlay: rgba(0, 0, 0, 0.2);
    --white-overlay: rgba(252, 248, 248, 0.60);
}